@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Open+Sans:wght@300&family=Poppins&display=swap');
.container{
    display: flex;
    justify-content: center;
    min-height: 20vh;
    background:#161616;
}
.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.aboutHeading{
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to right,#06f,#5132c0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.para{
    color: white;
}