@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat&family=Open+Sans:wght@300&family=Poppins&display=swap');
.navbuttons{
    color:white;
    background: transparent;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;

}